.DS_Store
xenics_pluto.egg-info
*.pyc
*/*.pyc
*-venv
*.bbprojectd
# ignore bunch of files that get generated during compilation 
xenics/xenics.py
xenics/xenics_wrap.cpp
xenics/_xenics.so
xenics/xenics.o
xenics/xenics_wrap.o
